Sphinx==5.0
sphinx-intl==2.0.1
sphinx-theme
requests==2.26.0
celery[redis]==5.2.3
sentry_sdk==1.5.6
flower==1.0.0
omnisdk
channel_app
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability